body {
  font-family: Arial, sans-serif;
  background-color: #c1d7e6;
  margin: 0;
  padding: 0px;
}
header {
  background-color: #92ace4;
  color: #000000;
  padding: 10px 20px;
  text-align: center;
}

nav {
  background-color: #f1f1f1;
  overflow: hidden;
  text-align: center;
}
nav a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 14px 20px;
  text-align: center;
}
nav a:hover {
  background-color: #555;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #000000;
}

footer {
  background-color: #ffaeff;
  color: #000000;
  text-align: center;
  padding: 15px;
}

.alysa-page {
  font-family: "Comfortaa", cursive;
}

.alysa-page h1 {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.container {
  display: flex; /* Ativa o Flexbox */
  align-items: center; /* Centraliza verticalmente (opcional) */
  gap: 15px; /* Adiciona um espaço entre imagem e texto */
}

img {
  animation: flutuar 5s ease-in-out infinite;
}

@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.centro {
  justify-content: center;
  align-items: center;
  height: 67vh;
}

h1 {
  font-family: "VT323", monospace;
  text-align: center;
}

.alysa-page h1 {
  font-family: "Bitcount Ink", system-ui;
  color: #9ba34d;
}

.alysa-page header {
  background-color: #4a6296;
}
div section:hover {
  transform: scale(1.05);
  box-shadow: 0 0 35px rgba(3, 15, 48, 0.9);
}
.container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.alysa-page .card1 {
  width: 300px;
  height: 600px;
  border: 3px solid rgb(78, 72, 12);
  padding: 15px;
  background-color: #041e35;
  text-align: center;
  font-size: 16px;
}
.alysa-page .card2 {
  width: 300px;
  height: 550px;
  border: 3px solid rgb(78, 72, 12);
  padding: 15px;
  background-color: #041e35;
  text-align: center;
  font-size: 13px;
}
.alysa-page .card3 {
  width: 300px;
  height: 600px;
  border: 3px solid rgb(78, 72, 12);
  padding: 15px;
  background-color: #041e35;
  text-align: center;
  font-size: 14px;
}
.alysa-page .card4 {
  width: 300px;
  height: 600px;
  border: 3px solid rgb(78, 72, 12);
  padding: 15px;
  background-color: #041e35;
  text-align: center;
  font-size: 11px;
  /* font-weight: bold; */
}
.alysa-page .card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.info {
  margin-top: 10px;
  color: #c1d7e6;
}

.alysa-page p {
  color: #c1d7e6;
}
body {
  background-color: #c7d7e2;
  position: relative;
  height: 100vh;
}
